body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F4F8;
  color: #333333;
}

h2, h3, h4 {
  color: #003366;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

input, select, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  font-size: 14px;
  color: #555555;
}

input:focus, select:focus {
  outline: none;
  border-color: #0074D9;
  box-shadow: 0px 0px 4px rgba(0, 116, 217, 0.5);
}

button {
  cursor: pointer;
  background: #0074D9;
  color: white;
  border: none;
  font-size: 16px;
  transition: background 0.3s ease;
}

button:hover {
  background: #005BB5;
}

button:disabled {
  background: #cccccc;
  cursor: not-allowed;
}

.success-message {
  background-color: #2ECC40;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.error-message {
  background-color: #FF4136;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #cccccc;
}

table th {
  background-color: #F4F4F8;
  color: #0074D9;
}

.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #003366;
  padding: 15px;
}

.navbar button {
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
}

.navbar button.active {
  background-color: #0074D9;
}

.navbar button:hover {
  background-color: #005BB5;
}
